<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retro Gaming</title>
    <link rel="stylesheet" href="{% static 'start_page.css' %}">
</head>
<body>
    <br>
    <br>
    <br>
    
    <br>
    <div class="background"> 
        <h1>Retro Gaming</h1>
    </div>
    <br>
    <br>

    <main class="page-content">
        <div class="card-container">
            <div class="card">
                <div class="content">
                    <h2 class="title"></h2>
                    <p class="copy">
                      "This game is about a snake who eats to gain length"
                    </p>
                    <button class="btn">
                        <a href="{% url 'Snake' %}">
                            Play Game
                        </a>
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2 class="title"></h2>
                    <p class="copy">
                      "This game is about block building and soaring levels"
                    </p>
                    <button class="btn">
                        <a href="{% url 'start_game' %}">
                            Play Game
                        </a>
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2 class="title"></h2>
                    <p class="copy">"Two players control paddles to hit a bouncing ball back and forth"</p>
                    <button class="btn">
                        <a href="{% url 'Pong' %}">
                            Play Game
                        </a>
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2 class="title"></h2>
                    <p class="copy">
                        "Small dino jumping over obsticals"
                    </p>
                    <button class="btn">
                        <a href="{% url 'dino' %}">
                            Play Game
                        </a>
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2 class="title"></h2>
                    <p class="copy">
                        "Small dino jumping over obsticals"
                    </p>
                    <button class="btn">
                        <a href="{% url 'PacMan' %}">
                            Play Game
                        </a>
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2 class="title"></h2>
                    <p class="copy">
                        "SpaceShip fighting aliens"
                    </p>
                    <button class="btn">
                        <a href="{% url 'PacMan' %}">
                            Play Game
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </main>
    <br>
</body>
</html>
